Repository OVAL-Community/OVAL, pull requests merged in 2021-07, with the labels that each got.

#86 New Unix SSHD test proposal
  oval-schemas/unix-definitions-schema.xsd
  oval-schemas/unix-system-characteristics-schema.xsd
Labels: Add to Existing Schema, UNIX

#128 Modifications to disabledservice_(test|object|state|item)
  oval-schemas/macos-definitions-schema.xsd
  oval-schemas/macos-system-characteristics-schema.xsd
Labels: Existing Schema Update, MacOS

#124 Proposal to add schema for Palo Alto
  oval-schemas/panos-definitions-schema.xsd
  oval-schemas/panos-system-characteristics-schema.xsd
Labels: New Platform Schema

#113 Introduce a schema directory README that points out to oval-community-guidelines.readthedocs.io
  oval-schemas/README.md
Labels: OVAL-Documentation, Website-Documentation
